<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YoutubeArchive.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <YoutubeArchive.Settings>
            <setting name="Window_Width" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="Window_Height" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="MaxParallelDownloadNum" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="IsRemoveCompletedItem" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultFileNameType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsDarkTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IsShowErrorMessage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedDownloadExtentionIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedUrlActionIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserPath2" serializeAs="String">
                <value />
            </setting>
            <setting name="UserPath3" serializeAs="String">
                <value />
            </setting>
        </YoutubeArchive.Settings>
    </userSettings>
</configuration>